%p#notice= notice
%p#error= flash[:error]

.row
  .col-sm-4.col-xs-12
    .show_data
      .title= product.title
      %b Price:
      = "#{product.price} PLN"
      %b Category
      = product.category.name
      .average_rat.some{ :style => "background-color:rgba(#{500-product.average_rating.to_i*100}, #{-35+product.average_rating.to_i*35 unless product.average_rating == "-"}, 0, 0.8);#{"color:#6B6E80;background-color:#ECECEC;" if product.average_rating == "-"}"}= "#{product.average_rating.round(1) unless product.average_rating == "-"}#{product.average_rating if product.average_rating == "-"}/5"
  .col-sm-8.col-xs-12
    .show_data
      .product_description
        %b Description:
        = product.description


.row
  .col-sm-4.col-xs-12
    %h3 Reviews
    = render reviews

  .col-sm-8.col-xs-12
    %h3 Write review
    = render 'reviews/form'


.bottom.col-lg-12
  - if current_user.try(:admin?)
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
  = link_to 'Back', category_products_path, class: 'btn btn-primary'
